/* use nav-mt-transition nav-mt-12 */
.nav-mt-transition {
  transition: margin-top 150ms ease-in-out;
  
  &.initial,
  &.sticky {
    margin-top: var(--nav-mt, theme(spacing.8));
  }

  &.sticky.scroll {
    margin-top: 0;
  }
}

[x-cloak] {
  display: none !important;
}

/* media query for mobile if desired */
nav[x-data] { /* or use specific class for your nav: .navbarTop */
  &.mobile-open { /* we’ll add this class via Alpine when mobileOpen=true */
    margin-top: 0 !important;
  }
}

nav.navbarTop {
  @apply w-full px-4 md:px-[4%] py-9 sticky md:sticky top-0 z-50 text-sm;
  backdrop-filter: blur(5px);

  &.initial {
    @apply bg-body;
  }

  /*Prevent stacking conflict when full-screen mobile menu opens*/
  &.mobile-open {
    @apply z-[150];
  }
}

.navbar {
  @apply bg-body flex flex-wrap content-between items-center;

  column-gap: 1rem;
  row-gap: 1rem;
  padding: 2rem min(5vw, 5rem);
  
  a > strong {
    @apply uppercase;
  }
}

.navbar-links {
  @apply flex flex-wrap p-0 m-0 items-center;
  list-style: none;
  column-gap: 1.5rem;
/*  font: var(--font-ui-bold);*/

  & [aria-current="page"] {
    text-decoration: none;
  }
}

.navbar-search {
  @apply flex ml-auto items-center;
  padding: 0 1em;
}

.navbar-home {
  text-decoration: none;
  @apply text-base-light hover:text-base-light/60;

  strong {
    @apply leading-5 font-brand text-3xl;
/*    font-weight: 400;
    font-style: normal;
*/  }
}
