/*@import "tailwindcss";*/
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Fonts */
/*  --font-sans: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui",
    "helvetica neue", Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
  --font-serif: "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman",
    "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
*/  

  --font-sig: "Cedarville Cursive", "Petit Formal Script", cursive;
  --font-display: "Fraunces", serif;
  --font-jetset: Montserrat, Helvetica, Arial, Lucida, sans-serif;
  --font-sans: Inter, Helvetica, Arial, Lucida, sans-serif;
  --font-brand: var(--font-cursive);
  --font-geometric:"Work Sans", sans-serif;
  --font-warm:"Lora", serif;
  --font-serif: var(--font-warm);
  --font-heading: var(--font-geometric);
  --font-cursive: "Beth Ellen", cursive;
  --font-serif: "Cormorant Garamond", serif;
  --default-font-family:var(--font-geometric);

  /* Breakpoints */
  --breakpoint-3xl: 120rem;

  /* Colors */
  --color-accent-light: #d5cab9;
  --color-accent: #48648d;
  --color-accent-dark: #40537D;

  --color-body: #fff;
  --color-leaf: #6b9c58;
  --color-root: #8ba16e;
  --color-header: #48648d;
  --color-jetset: #fafafa;
  --color-text: #333333;
  --color-base: #333333;
  --color-line: #e0e0e0;
  --color-dark: #e0e0e0;
  --color-heart: #8B0000;

  /* Optional semantic variables (can be aliased in components) */
  --accent-light: var(--color-accent-light);
  --accent: var(--color-accent);
  --accent-dark: var(--color-accent-dark);
  --border-accent-light: var(--color-accent-dark);
  --header: var(--color-accent);
}

@layer components {
  .btn-cta {
    @apply inline-block px-6 py-3 rounded-full font-semibold border border-gray-900 hover:bg-gray-900 hover:text-white transition;
  }
}

@layer utilities {
  .nav-mt-0      { --nav-mt: theme(spacing.0); }
  .nav-mt-4      { --nav-mt: theme(spacing.4); }
  .nav-mt-6      { --nav-mt: theme(spacing.6); }
  .nav-mt-8      { --nav-mt: theme(spacing.8); }
  .nav-mt-12     { --nav-mt: theme(spacing.12); }
  /* add any others you need */
}
