@import "https://rsms.me/inter/inter.css";
@import url("https://unpkg.com/@lumeland/ds.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
*, :after, :before {
    box-sizing: border-box;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
    text-rendering: auto;
}

body, html {
    background-color: var(--color-background);
    color: var(--color-base);
    font: var(--font-ui);
    overflow-wrap: break-word;
}

.body {
    color: var(--color-text);
    font: var(--font-body);
    letter-spacing: var(--font-body-spacing);

    :not(pre) > code, b, h1, h2, strong {
        color: var(--color-base);
    }
}

b, h1, h2, h3, h4, h5, h6, strong {
    color: var(--color-text);
    font-weight: var(--font-bold);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

/* Lists */
ul {
    unicode-bidi: isolate;
}

.pagination ul {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    list-style: none;
    padding: 0;
}


/* Page Pagination */
.page-pagination.pagination {
    @apply print:hidden;
}

