@layer components {
  .card {
    background-color: var(--color-sky-300);
    border-radius: var(--rounded-lg);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-xl);
  }
  .module {
    @apply p-14;
    p {
      @apply mb-3 leading-8 text-lg;
    }
    h2 + p {
      @apply mt-4;
    }
  }

  .heading {
    font-family: var(--font-heading);
  }
}